.primary-nav {
	float: right;

	ul {
		padding: 0;
		margin: 0;
		width: 100%;
		@mixin clearfix;
	}

	li {
		float: left;
		margin-right: 20px;
		display: block;
		
	}

	a {
		padding: 5px 0;
		margin: 0;
		display: block;
		font-size: 1.2rem;
		text-align: center;
		transition: all .3s ease-out;
		transform: scale(1);

		&:hover {
			transition: all .3s ease-out;
			color: rgba(#888888, .5);
			transform: scale(1.1);
			
		}
	}
}