.primary-nav {

	padding-top: 10px;
	display: none;

	@mixin atMedium {
		padding-top: 0;
		display: block;
	}

	&--pull-right {

		@mixin atMedium {
			float: right;
		}
	}
			
	ul {
		padding: 0;
		margin: 0;
		width: 100%;

		@mixin clearfix;
	}

	li {
		margin-right: 10px;
		display: inline-block;

		@mixin atMedium {
			padding-right: 20px;
			float: left;
			display: block;
			
		}
	}

	li:last-child {
		padding-right: 0;

		@mixin atMedium {
			padding-right: 20px;
			
		}
	}

	a {
		padding: 5px 0;
		margin: 0;
		display: block;
		font-size: 1.2rem;
		transition: all .3s ease-out;
		transform: scale(1);

		&:hover {
			transition: all .3s ease-out;
			color: rgba(#888888, .5);
			transform: scale(1.2);

		}
	}
}
